html, body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid #E9E9E9;
}

.edit__header-content {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit__header-title {
    font-size: 16px;
    margin: 0;
}

.edit__header-button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 10px;
    outline: none;
    color: #E76E54;
    cursor: pointer;
}

main {
    padding: 36px 0; /* 위아래 양옆 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__note-nav-wrapper {
    width: 800px;
    display: flex;
    margin-bottom: 15px;
}

.edit__note-nav {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.edit__note-nav-icon {
    width: 9px;
    height: 11.45px;
    margin-right: 8.39px;
}

.edit__note-nav-text {
    font-weight: 100;
    font-size: 12px;
}






.edit__note-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__note-title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}


.edit__note-title-left {
    display: flex;
}

.edit__note-title-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.edit__note-title {
    font-weight: 100;
    font-size: 16px;
    margin: 0;
}


.edit__note-title-right {
    display: flex;
    cursor: pointer;
}

.edit__note-delete-icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.edit__note-delete {
    font-weight: bold;
    font-size: 10px;
    margin: 0;
    color: #E76E54;
}

.edit__note-input {
    background: #F6F6F6;
    border-radius: 5px;
    padding: 20px 24px;
    font-size: 13px;
    border: none;
    outline: none;
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
    box-sizing: border-box; /* 패딩 합쳐서 길이 계산 */
}

.edit__submit-button {
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 10px;
    height: 36px;
    cursor: pointer;
}

.edit__submit-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 11px;
}

.edit__submit-button-text {
    font-weight: 100;
    font-size: 14px;
}



