html, body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid #E9E9E9;
}

.login__header-content {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__header-title {
    font-size: 16px;
    margin: 0;
}

.login__header-button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 10px;
    outline: none;
    color: #E76E54;
    cursor: pointer;
}

main {
    padding: 36px 0; /* 위아래 양옆 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__login-section {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px 250px;
}

.login__login-text {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 16px;
    align-self: flex-start;
}

.login__login-input {
    width: 300px;
    height: 36px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.login__login-icon {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.login__login-mail-input {
    width: 100%;
    margin-left: 8px;
    border: none;
}


.login__login-pwd-input {
    width: 100%;
    margin-left: 8px;
    border: none;
}

.login__login-button {
    border: none;
    background: none;
    outline: none;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 10px;
    height: 36px;
    width: 80px;
    cursor: pointer;
}

.login__login-button-text {
    font-weight: 100;
    font-size: 14px;
}