<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>노트앱</title>
        <link rel="icon" href="./assets/note.png">
        <link rel="stylesheet" href="./main.css">
    </head>
    <body>
        <header>
            <div class="main__header-content">
                <h1 class="main__header-title">노트앱</h1>
                <form method="POST" action="/logout" id="logout"></form>
                <button class="main__header-button" onclick="logout()">로그아웃</button>
            </div>
        </header>
        <main>
            <section class="main__note-section">
                <div class="main__note-title-wrapper">
                    <img class="main__note-title-icon" src="./assets/pen.png" alt="작성하기 아이콘" />
                    <h2 class="main__note-title">작성하기</h2>
                </div>
                <form method="POST" action="/" id="write" >
                    <textarea class="main__note-input" placeholder="여기에 써주세요" id="input" name="content"></textarea>
                </form>
                <button class="main__submit-button" onclick="addMemo()">
                    <img class="main__submit-button-icon" src="./assets/pen.png" alt="작성하기 버튼 아이콘" />
                    <div class="main__submit-button-text">작성하기</div>
                </button>
            </section>
            <section class="main__note-section">
                <div class="main__note-title-wrapper">
                    <img class="main__note-title-icon" src="./assets/note.png" alt="내 메모 아이콘" />
                    <h2 class="main__note-title">내 메모</h2>
                </div>
                <div class="main__note-contents">
                    <% memos.map((memo) => { %>
                        <a href="./edit?id=<%= memo.id %>">
                            <div class="main__note-content">
                                <%= memo.content %>
                            </div>
                        </a>    
                    <% }) %>
                </div>
            </section>
        </main>
        <script src="main.js"></script>
    </body>
</html>